<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Movie Finder</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"></a>
        <ul class="right hide-on-med-and-down">

        </ul>

        <ul id="nav-mobile" class="side-nav">
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>

        <div class="row center">
            <div class="header col s4 light">

                <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BODMzMzY0NTc1Ml5BMl5BanBnXkFtZTcwMzUyNDE0MQ@@._V1_SX300.jpg" >



            </div>
            <div class="header col s8 light">
                <div class="hoverable">



                <h3>Humrazz</h3>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">perm_contact_calendar</i>

                            <h5>Release Date</h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>16 JUl 2003</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">query_builder</i>

                                <h5>Running time</h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>180 min</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">local_movies</i>

                                <h5>Caterogy </h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>Action, Musical, Romance</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">query_builder</i>

                                <h5>Star cast</h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>16 JUl 2003</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">query_builder</i>

                                <h5>Short desciption</h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>16 JUl 2003</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">query_builder</i>

                                <h5>IMDB Rating</h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>16 JUl 2003</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">query_builder</i>

                                <h5>Running time</h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>180 min</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">local_movies</i>

                                <h5>Caterogy </h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>Action, Musical, Romance</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">query_builder</i>

                                <h5>Star cast</h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>16 JUl 2003</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">query_builder</i>

                                <h5>Short desciption</h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>16 JUl 2003</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" align="left"><i class="material-icons">query_builder</i>

                                <h5>IMDB Rating</h5>
                            </div>
                            <div class="collapsible-body" align="left"><span>16 JUl 2003</span></div>
                        </li>

                    </ul>




                </div>

            </div>


        </div>


        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">



    </div>
    <br><br>

    <div class="section">

    </div>
</div>

<footer class="page-footer light-blue darken-3">
    <div class="footer-copyright">
        <div class="container">
            made by Harsh Bhardwaj
            <a class="grey-text text-lighten-4 right" href="#!">Say me Hi ! on 91-8107279585</a>
        </div>
    </div>
</footer>



<!--  Scripts-->
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });

</script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
